FORMAT: 1A
HOST: https://api.previo.cz/app/

# API - Alfred app

# Pusher

## Pusher setting
 - On login
   - Set chanel `channelHash` in GET hotel API
   - Set eventName `reservation-resId` split string reservation and reservation id (resId) from GET reservation API
 - On logout
   - Remove chanel `channelHash`
   - Remove eventName `reservation-resId`
   
## Pusher data

 ```
 {
   actions: ['RESERVATION', 'SERVICES'],
 }
 ```
 - `action` (the data specification that contains the data object)
  - `reservation` - Changes in reservation API
  - `account` - Changes in account API
  - `room_key` - Changes in room key API

## Deep Links
- `alfred://payment/success` - opens success payment dialog
- `alfred://payment/failure` - opens fail payment dialog
- `https://myalfred.cz/login/{PIN}` - Deeplink in vourcher, for login into My Alfred app
- `https://myalfred.cz/roomKeys?pin={PIN}&invitationCode={INVITATION_CODE}&endpointUId={ENDPOINT_UID}` - Deeplink in confirm email for Assa Abloy locks

`{PIN}` - `7DE3SA` ~ Pin for log in into My Alfred app

`{INVITATION_CODE}` - `GSTD-ZE5W-85DE-0U54` ~ Invitation key for Assa Abloy SDK

`{ENDPOINT_UID}` - `89251b7d-b27b-4416-b7ad-cbf0877257b3` ~ Id of Assa Abloy end-point

## Authentication [/authentication]

### Get access token [GET /authentication/accessToken{?code}]

+ Request (application/json)
    + Headers

            Accept-Language: cs
            X-Previo-App-ID: 3
            User-Agent: iPhoneX - Model name of user device
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19 
            
+ Parameters
    + code: ABC123 (string,required) - Unique reservation or commission identifier, 6 capital chars and numbers
    
+ Response 200 (application/json)
    + Attributes (Authentication)
    
+ Response 400 (application/json) 
    + Attributes (AuthError)

### Refresh access token [GET /authentication/refreshToken{?refreshToken}]

+ Request (application/json)
    + Headers

            Accept-Language: cs
            X-Previo-App-ID: 3

+ Parameters
    + refreshToken: 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW (string,required) - The refresh token.
    
+ Response 200 (application/json)
    
+ Response 400 (application/json) 
    + Attributes (AuthRefreshError)

## Reservation [/reservation]

### Get reservation [GET /reservation]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)
    + Attributes (Reservation)
    
+ Response 404 (application/json) 
    + Attributes (Error)
    
+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

### Check in [PUT /reservation/checkIn]

+ Request (application/json)
    + Attributes (GuestCheckIn)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
        
+ Response 200 (application/json)

+ Response 400 (application/json)
    + Attributes (Error)

### Check in scan personal document [POST /reservation/checkInScanDocument]

+ Request (application/json)
    + Attributes (GuestScanDocument)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
        
+ Response 200 (application/json)

+ Response 400 (application/json)
    + Attributes (Error)

### Check in guest signature [POST /reservation/checkInSignature]

+ Request (application/json)
    + Attributes (GuestCheckInSignature)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
        
+ Response 200 (application/json)

+ Response 400 (application/json)
    + Attributes (Error)

### Save proof of infectivity [POST /reservation/proofOfInfectivity]

+ Request (application/json)
    + Attributes (GuestProofOfInfectivity)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
        
+ Response 200 (application/json)

+ Response 400 (application/json)
    + Attributes (Error)

### Pay [POST /reservation/pay]

+ Request (application/json)
    + Attributes (ToPay)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19

+ Response 200 (application/json)
    + Attributes (PayUrl)
    
+ Response 400 (application/json)
    + Attributes (Error)
    
+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

### Pay at the terminal [POST /reservation/terminalPay]

+ Request (application/json)
    + Attributes (ToPay)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19

+ Response 200 (application/json)
    
+ Response 400 (application/json)
    + Attributes (Error)

### Pre-Authorization at the terminal [GET /reservation/terminalPreAuthorization]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19

+ Response 200 (application/json)
    
+ Response 400 (application/json)
    + Attributes (Error)

### Get rooms keys [GET /reservation/roomKeys]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)
    + Attributes (Keychain)

+ Response 400 (application/json)
    + Attributes (Error)

+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

### Unlock room lock [GET /reservation/unlockRoom{?lockId}{?comId}]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
   
+ Parameters
    + lockId: 987654 (number, required) - TTLock lock ID
    + comId: 123456 (number, required) - Commission ID
    
            
+ Response 200 (application/json)

+ Response 400 (application/json)
    + Attributes (Error)

+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

### Initialize mobile key [POST /reservation/roomKeysInitialization]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)

+ Response 400 (application/json)
    + Attributes (Error)

+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

### Issue card key [POST /reservation/roomKeysCardInitialization]

+ Request (application/json)
    + Attributes (CardInitialization)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)

+ Response 400 (application/json)
    + Attributes (Error)

+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

### Check date availability [GET /reservation/dateAvailability{?arrival}{?departure}]

+ Parameters
    + arrival: `2022-08-04` (string,required) - New date of arrival
    + departure: `2022-08-24` (string,required) - New date of departure

+ Request (application/json)
    + Attributes (ReservationDate)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)
    + Attributes (ReservationDateAvailability)

+ Response 400 (application/json)
    + Attributes (Error)

+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

### Change reservation date [PUT /reservation/changeDate]

+ Request (application/json)
    + Attributes (ReservationDate)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)

+ Response 400 (application/json)
    + Attributes (Error)

+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

### Meals list [GET /meal]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)
    + Attributes (array[Meal])
    
+ Response 505 (application/json)
    + Attributes (ReservationEndedError)

### Change meal [PUT /meal/change]

+ Request (application/json)
    + Headers

            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19

    + Attributes (array[MealChange])

+ Response 200 (application/json)

+ Response 505 (application/json)
    + Attributes (ReservationEndedError)

### Check out [PUT /reservation/checkOut]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19

+ Response 200 (application/json)

+ Response 400 (application/json)
    + Attributes (Error)
    
+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

### Cancel reservation [PUT /reservation/cancel]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
    
+ Response 200 (application/json)

+ Response 400 (application/json)
    + Attributes (Error)

## Hotel [/hotel]

### Get hotel info [GET /hotel]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)
    + Attributes (Hotel)
    
+ Response 404 (application/json) 
    + Attributes (Error)

### Get attractions around [GET /hotel/attraction]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)
    + Attributes (array[Attraction])

### Get trips [GET /hotel/trip]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)
    + Attributes (array[Trip])

## Hotel account [/account]

### Account [GET]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19

+ Response 200 (application/json)
    + Attributes (Account)

+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

## Guest categories [/guest-categories]

### Guest categories [GET]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19

+ Response 200 (application/json)
    + Attributes (array[GuestCategory])

+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

## Services [/service]

### Services list [GET /service]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)
    + Attributes (array[Service])
    
+ Response 505 (application/json)
    + Attributes (ReservationEndedError)

### Minibar items [GET /service/minibarList]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19
            
+ Response 200 (application/json)
    + Attributes (array[MinibarItem])
    
+ Response 505 (application/json)
    + Attributes (ReservationEndedError)

### Order service [POST /service/order]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19

    + Attributes (ServiceOrder)
            
+ Response 200 (application/json)

+ Response 505 (application/json)
    + Attributes (ReservationEndedError)

### Green Option [POST /service/greenOption]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19

    + Attributes (GreenOption)

+ Response 400 (application/json)
    + Attributes (Error)

+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)

## System [/system]

### Shorten URL [POST /system/shortUrl]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3
            Authorization: Bearer 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW
            X-Device-UUID: 765ce9ec-29f2-423a-9724-6512cef6bf19

    + Attributes (ShortUrl)

+ Response 400 (application/json)
    + Attributes (Error)

+ Response 401 (application/json)
    + Attributes (AuthTimeoutError)
    
+ Response 200 (application/json)
    + Attributes (ShortUrlResponse)

### Code books [GET /system/codeBook]

+ Request (application/json)
    + Headers
    
            Accept-Language: cs
            X-Previo-App-ID: 3

+ Response 200 (application/json)
    + Attributes (CodeBook)

## Data Structure

## Error
+ code: 402 (number,required)
+ error: Failed to get data (string,required)
+ message: Nepodařilo se získat data (string,required)

## AuthError
+ code: 400 (number,required)
+ error: Failed to authenticate pin code (string,required)
+ message: Nepodařilo se ověřit pin (string,required)

## AuthRefreshError
+ code: 400 (number,required)
+ error: Failed to refresh access token (string,required)

## AuthTimeoutError
+ code: 401 (number,required)
+ error: Authentication token expired (string,required)
+ message: Vypršela platnost autorizačního tokenu (string,required)

## ReservationEndedError
+ code: 505 (number,required)
+ error: Reservation ended (string,required)
+ message (string, nullable)

## CardInitialization
+ comId: 123456 (number, required) - Commission ID
+ cardNumber: 484653084 (string,optional)body

## Authentication
+ accessToken: 7e8HVcDWhnHnQCL8wqvKM95c7e8HVcDW (string,required) - Access token to be used when acessing resources.
+ tokenType: Bearer (string, required) - The type of the token issued - in this case it will allways be Bearer.
+ refreshToken: 6T8pcDWhnHnQCL8wqvKM95c7e8HVcDW (string,required) - The refresh token, which can be used to obtain new access tokens.Re

## Reservation
+ resId: 12060507 (number,required) - The unique identifier for reservation
+ hotId: 3209 (number,required) - The unique identifier for hotel
+ hasReview: false (boolean, required) - true if user already reviewed this reservation
+ isInGroup: true (boolean, required) - Has reservation more than one commission (while log-in on single alfred code)
+ commissions (array[Commission], required)
+ contactPerson (ContactPerson, optional)
+ paymentType: 1 (number, required) - Type of payment (0 - Payment in Previo, 1 - Invoice, 2 - OTA)
+ voucher: ABCDDEDS (string, required)
+ note: Bar bar (string, optional)
+ isTermsAccepted: false (boolean, required) - If guest agree term and conditions
+ requirePayment: false (boolean, required) - If false, then we dont require any payment, especially because payment is made somewhere else (OTA, invoice for company)
+ enableChangeDate: true (boolean, required) - Enable change date of reservation
+ enableChangeMeal: true (boolean, required) - Enable change meal
+ preauthorizationSetting (PreauthorizationSetting, optional) - Setting of preauthorization

## Commission
+ comId: 123456 (number,required) - The unique identifier for commission
+ cosId: 1 (number,required) - The unique identifier for commission status (ReservationStatus)
+ termFrom: `2017-07-02T06:55:00` (string,required) - ISO 8601
+ termTo: `2017-07-02T06:55:00` (string,required) - ISO 8601
+ greenOption (GreenOption, optional) - Green option commission setting
+ room: Moderní ubytování s příjemnou postelí (string, required) - Name of room
+ roomKind: Dvoulůžkový (string, required) - Name of room kind
+ guests (array[Guest], required)
+ completeCheckin: true (boolean, required) - Commission complete checkin
+ isPreauthorizationPaymentConfirm: true (boolean, required) - Preauthorization payment complete

## Guest
+ gueId: 1233 (number,required) - The unique identifier for guest
+ meaId: 1 (number, optional) - The unique identifier for meal
+ checkInSteps (CheckInSteps, required)
+ firstName: Radim (string,optional)
+ lastName: Vaculik (string,optional)
+ email: radim@vaculik.cz (string,optional)
+ phone: +420421123987 (string,optional)
+ guaId: 1 (number, required) - The unique identifier for guest category (GuestCategory)
+ isRecreation: true (boolean,required)
+ birthDate: `2017-01-01T00:00:00` (string,optional) - ISO 8601
+ birthPlace: London (string, optional)
+ identity (Identity, optional) - Identity of guest
+ visa: HD55AIJCS9-4GD-9S (string, optional) - Visa od guest
+ numberPlate: 7A7 5070 (string, optional) - Number plate od guest`s car
+ nationality: 1 (number, optional) - Country id of guest nationality
+ address (AddressGuest, required)

## CheckInSteps
+ hasCompleteInfo: true (boolean, required) - Has a guest fill required info into form
+ hasProofOfInfectivity: true (boolean, required) - Has a guest upload proof of infectivity
+ hasSignature: true (boolean, required) - Has a guest upload signature
+ isUploadedPersonalDocument: false (boolean, required) - Guest uploaded personal document (ID card / Passport)

## GreenOption
+ skipCleaningTomorrow: true (boolean, required) - Cleaning will be skipped tomorrow

## GuestCheckIn
+ gueId: 1233 (number,required) - The unique identifier for guest
+ hasCompleteInfo: false (boolean, required) - If the host has filled in all the data required to check in
+ firstName: Radim (string,required)
+ lastName: Vaculik (string,required)
+ email: radim@vaculik.cz (string,optional)
+ phone: +420421123987 (string,optional)
+ isRecreation: true (boolean,required)
+ birthDate: `2017-01-01T00:00:00` (string,required) - ISO 8601
+ birthCouId: 1 (number, optional) - Country id of guest birth country
+ identity (Identity, required) - Identity of guest
+ visa: 21313KDMFS32 (string, optional) - Visa number
+ numberPlate: 5AN6312 (string, optional) - Number plate of guest`s car
+ nationality: 1 (number, required) - Country id of guest nationality
+ address (AddressGuestCheckIn, required)

## GuestScanDocument
+ gueId: 1233 (number,required) - The unique identifier for guest
+ document (ScanDocument, required) - Base64 encoded image

## ScanDocument
+ type: `id-card-or-passport` (enum, required)
    - `id-card-or-passport` - ID card or passport
    - `hu-address-card` - Hungary address card
+ file: iVBORw0KGgoAAAANSUhEU... (string, required) - Base64 encoded image

## GuestCheckInSignature
+ gueId: 1233 (number,required) - The unique identifier for guest
+ signature: iVBORw0KGgoAAAANSUhEU... (string, required) - Base64 encoded signature image

## GuestProofOfInfectivity
+ gueId: 1233 (number,required) - The unique identifier for guest
+ certificate: iVBORw0KGgoAAAANSUhEU... (string, required) - Base64 encoded image

## NoteCheckIn
+ note: some note (string,optional)
+ checkInTime: 18:30 (string,optional)

## Identity
+ number: N5646645 (string, required)
+ guiId: 1 (number, required) - 1 ID card, 2 passport, 3 driving license, 4 permanent residence

## ContactPerson
+ name: Radim Vaculik (string,optional)
+ email: radim@vaculik.cz (string,optional)
+ phone: +420321439439 (string,optional)

## Keychain
+ openDoorByApp: true (boolean, required) - The hotel has locks that support unlocking through alfred
+ state: 10 (number, required) - The key allocation status (1 - not issued, 2 - require check-in, 3 - reservation need to be paid, 4 - can request key, 5 - request pre-authorization, 6 - sent a confirmation email, 10 - keys are ready for use)
+ brand: 3 (number, optional) - Supplier of locking system  (null - not supported open door by app, 1 - Salto, 3 - Assa Abloy, 6 - SmartLock, 8 - AcsLinePin, 9 - SmartLock online, 10 - Custom PIN)
+ keys (array[DoorKey], required) - Array of valid keys
+ hasKioskEncoder: true (boolean, required) - The hotel has kiosk with card encoder

## DoorKey
+ clcId: 321 (number, required) - The unique identifier for key
+ type: 1 (number, required) -  Type of using key (1- bluetooth, 2 - number)
+ name: Room 201 (string, required) - Key name of the door
+ value: laH6wSG0n4xmTZVVWrfKQWVXUwKALHjVMgutn5Cu (string, optional) - Value of key (key hash/pin code). Assa Abloy return null
+ lockId: 789654 (number, required) - TTLock lock ID
+ comId: 123456 (number, required) - Commission ID

## Hotel
+ hotId: 3209 (number,required) - The unique identifier for hotel
+ name: Hotel Janacek (string,required)
+ channelHash: 15xzry0E%&sNyanZYwqE (string, required) - Hash of Pusher chanel for hotel
+ address (Address,required)
+ alternativeAddress (array[AlternativeAddress], required)
+ wirelessNetworks (array[WirelessNetwork], required) - Array of wireless networks
+ url: http://www.hoteljanacek.cz (string,optional)
+ phone: +420251613924 (string,optional)
+ arrival: 15:00:00 (string,required)
+ departure: 10:00:00 (string,required)
+ greenOption (GreenOptionGet, required) - Is hotel supporting housekeeping Green Option
+ accommodation (Accommodation, required)
+ restaurants (array[Restaurant], required)
+ wellness (array[Wellness], required)
+ sportsGrounds (array[SportsGround], required)
+ conferenceRooms (array[ConferenceRoom], required)
+ primaryColor: #59b553 (string,required)
+ logo (Logo, required) - Hotel logo
+ cancellationPolicies (array[CancelationPolicy], required) - Cancellation policy for reservation in hotel
+ enablePayment: true (boolean, required) - Support hotel payment in My Alfred app
+ alfredActive: true (boolean, required) - Hotel has active full version of My Alfred app
+ privacySetting (array[PrivacySetting], required) - Processing of personal data setting
+ termAndCondition (TermAndCondition, required) - Terms and Condition
+ alfredSetting (AlfredSetting, required)
+ hasTerminal: true (boolean, required) - Hotel has terminal pay at the kiosk
+ countryRestriction (CountryRestriction, required) - Object of country restriction

## GuestCategory
+ guaId: 1 (number, required) - The unique identifier for guest category
+ name: Adult (string, required) - Name of guest category
+ isOfferOnline: true (boolean, required) - If guest category offer online
+ minAge: 18 (number, required) - Minimum age for this category in day of arrival
+ maxAge: 99 (number, required) - Maximum age for this category in day of arrival

## CountryRestriction
+ childAgeRules (array[ChildAge], required) - List of max age of child for country (nationality)
+ requiredVisaCouIds: 33, 48, 342 (array, required) -  Visa for hotel

## ChildAge
+ childAge: 15 (number, required) - Age of child
+ couId: 1 (number, required) - The unique identifier for country

## GreenOptionGet
+ isSupported: true (boolean, required) - Is hotel supporting housekeeping Green Option
+ showNotificationAtTime: 20000 (number) - number of seconds since the start of the day, when the notification should be sent

## WirelessNetwork
+ ssid: WiFi - My Alfred (string, required) - Name of wireless network
+ password: null (string, optional) - Password of wireless network, if null wireless network is open

## CancelationPolicy
+ period: 48 (number, required) - How many hours before reservation cancellation is this condition valid
+ ammount: 2 (number, required) - The amount of the fee in selected unit
+ unit: 1 (number, required) - The unit of the cancellation fee

## AlfredSetting
+ checkInSetting (CheckInSettign, required) - Setting for check-in (info form)
+ signatureSetting (SignatureSetting, required) - Signature settings
+ proofOnInfectivity (ProofOnInfectivity, required) - Proof on infectivity settings
+ allowOnlinePayment: true (boolean, required) - Is allow online payment in Alfred?
+ keyBoxNumber: 722456789 (string, optional) - Phone number for GSM Key Box
+ emergencyCall: 722456789 (string, optional) - Phone number for emergency call
+ remoteOpenLock: true (boolean, optional) - Enable remote open locks functionremote
+ scanIDSetting (ScanIDSetting, required) - Setting for ScanID feature inside check-in
+ allowChangeReservationDate: true (boolean, required) - Enable change reservation date in Alfred
+ allowChangeMeal: true (boolean, required) - Enable change meal in Alfred

## CheckInSettign
+ allowCheckIn: true (boolean, required) - Is allow check-in in Alfred?
+ checkInSections (array[CheckInSection], required) - Array of check-in fields setting

## CheckInSection
+ type: address (enum, required) - Name of section
 - personal-document - ID card and passport
 - address - Guest address (permanemt stay)
+ isEnable: true (boolean, required) - Is enable check-in fields
+ isRequire: false (boolean, required) - Is field required

## SignatureSetting
+ allowSignature: true (boolean, required) - Guest can sign the check-in
+ signatureMode: 1 (number, required) - 0 - Optional signature, 1 - Required signature for foreigner guest, 2 - Required signature for all guest

## ProofOnInfectivity
+ proofOfInfectivityAllowed: true (boolean, required) - Guest can upload proof on infectivity
+ proofOfInfectivityMode: 1 (number, required) - 0 - Optional proof on infectivity, 1 - Required proof on infectivity for guest age 12 and more guest

## ScanIDSetting 
+ allowScanID: true (boolean, required) - Is ScanID function enable
+ scanIDMode: 0 (number, required) - 0 - Optional use ScanID feature, 1 - Require to use scanID in check-in

## PreauthorizationSetting
+ price: 1000 (number, required) - Price of deposit (preauthorization)
+ curId: 1 (number, required) - The unique identifier for currency

## ReservationDate
+ arrival: `2022-08-04` (string, required) - New arrival of reservation
+ departure: `2022-08-24` (string, required) - New arrival of reservation

## ReservationDateAvailability
+ arrival: `2022-08-04 14:00:00` (string, required) - New arrival of reservation
+ departure: `2022-08-24 11:00:00` (string, required) - New arrival of reservation
+ price: 100 (number, required) - Price of reservation in term
+ curId: 1 (number, required) - The unique identifier for currency

## PrivacySetting
+ policyType: 1 (number, required) - The unique identifier for type of processing of personal data 0 - turn off
+ policyText: Something about processing of personal data (string, optional)

## TermAndCondition
+ conditions: 1 (number, required) - Conditions type 0-turn off, 1-default text, 2-custom text
+ conditionsText: Something about terms and conditionser (string, optional)

## AddressGuestCheckIn
+ street: Panska 6 (string, required)
+ streetNumber: 6 (string, required)
+ city: Brno (string, required)
+ zip: 60200 (string, required)
+ couId: 1 (number, required) - The unique identifier for country
+ streetType: utca (string, optional) - Type of street for Hungary hotel

## AddressGuest
+ street: Panska 6 (string, optional)
+ streetNumber: 6 (string, optional)
+ city: Brno (string,optional)
+ zip: 60200 (string,optional)
+ couId: 1 (number,required) - The unique identifier for country
+ streetType: utca (string, optional) - Type of street for Hungary hotel

## Address
+ street: Panska (string, required)
+ streetNumber: 6 (string, optional)
+ city: Brno (string, required)
+ zip: 60200 (string, required)
+ couId: 1 (number, required) - The unique identifier for country
+ gps: 50°09'37.1"N 14°23'54.0"E (string, optional)

## AlternativeAddress
+ objectKindName: Double (string, required)
+ street: Panska (string, required)
+ streetNumber: 6 (string, optional)
+ city: Brno (string, required)
+ zip: 60200 (string, required)
+ couId: 1 (number, required) - The unique identifier for country
+ gps: 50°09'37.1"N 14°23'54.0"E (string, optional)

## Accommodation
+ title: Accommodation hotel Brno (string, required)
+ shortDescription: Bla bla Accommodation (string, required)
+ longDescription: Meh meh Accommodation (string, optional)
+ photos (array[Photo], required) - Photo of hotel accommodation

## Restaurant
+ obkId: 2564 (number, required) - The unique identifier for object kind
+ name: Coyote Diners & Bar (string, required)
+ description: `Restaurace zabývající se čistě americkou kuchyní za pomocí jednoduchosti přípravy a kvality surovin. Těšit se můžete na pokrmy z grilu, originální domácí moučníky či na klasické burgery. Nabídka koktejlů, rozvoz jídla. TV, Wi-Fi, možný vstup se psy, letní zahrádka, parkoviště.` (string, optional)
+ openingHours (OpeningHour, optional)
+ photos (array[Photo], required) - Array of resturant photos

## Wellness
+ obkId: 2564 (number, required) - The unique identifier for object kind
+ name: Pytloun Wellness (string, required)
+ description: `Pytloun Wellness *** Liberec se nachází v klidné lokalitě, přesto v blízkosti centra města Liberec. Nedaleko hotelu můžete navštívit turisticky atraktivní místa, mezi která patří i zábavní centrum Babylon s aquaparkem, IQparkem a lunaparkem. V zimě zdejší ubytování ocení zejména milovníci lyžování. Pouhé tři kilometry od hotelu je Skiareál Ještěd, který uspokojí i náročné lyžaře. Hotel disponuje hezkými pokoji i apartmány. Všichni hosté zde mohou využívat kuchyňku. Samozřejmostí je bezdrátové připojení k internetu v celém objektu.` (string, optional)
+ openingHours (OpeningHour, optional)
+ photos (array[Photo], required) - Array of wellness photos

## SportsGround
+ obkId: 2564 (number, required) - The unique identifier for object kind
+ name: Badminton (string, required)
+ description: `Badminton je individuální olympijský raketový sport. Jeho přímým předchůdcem je indická poona. Při hře dva protivníci (nebo dvě dvojice) odpalují přes síť pomocí rakety míček (košík) a snaží se donutit protivníka k chybě.` (string, optional)
+ openingHours (OpeningHour, optional)
+ photos (array[Photo], required) - Array of sportsGround photos

## ConferenceRoom
+ obkId: 2564 (number, required) - The unique identifier for object kind
+ name: Badminton (string, required)
+ description: `Balkónem s výhledem do zahrady vyniká první konferenční místnost čtyřhvězdičkového Hotelu U Tří korunek v Praze. Místnost díky své rozloze 70m2 nabízí variabilní uspořádání přesně podle požadavků zákazníka.` (string, optional)
+ openingHours (OpeningHour, optional)
+ photos (array[Photo], required) - Array of conference room photos

## OpeningHour
+ mon (array[OpeningHourInterval], required) - Monday (Closed if array empty)
+ tue (array[OpeningHourInterval], required) - Tuesday (Closed if array empty)
+ wed (array[OpeningHourInterval], required) - Wednesday (Closed if array empty)
+ thu (array[OpeningHourInterval], required) - Thursday (Closed if array empty)
+ fri (array[OpeningHourInterval], required) - Friday (Closed if array empty)
+ sat (array[OpeningHourInterval], required) - Saturday (Closed if array empty)
+ sun (array[OpeningHourInterval], required) - Sunday (Closed if array empty)

## OpeningHourInterval
+ from: `08:00` (string, required)
+ to: `22:00` (string, required)

## Account
+ resId: 1235 (number,required) - The unique identifier for reservation (Reservation)
+ groupAccount (GroupAccount)

## GroupAccount
+ total: 100.00 (number,required)
+ paid: 50.00 (number, required) 
+ needPay: false (boolean, required) - Is need payment, because currency conversion 
+ curId: 1 (number, required) - The unique identifier for currency
+ items (array[AccountItem], required)

## AccountItem
+ coaId: 342 (number, required) - The unique identifier for account item
+ comId: 323 (number, required) - The unique identifier for commission
+ count: 1 (number, required) - Count of items
+ name: Fried Onion Burger (string, required)
+ atiId: 32 (number, required) - The unique identifier for account item type
+ segId: 3 (number, optional) - The unique identifier for account item segment
+ price: 100 (number, required) - Price of one item
+ paid: 80 (number, required) - Paid price of one item
+ owner (AccountItemOwner, optional) - Owner of account item

## AccountItemOwner
+ type: company (enum, required) - Type of owner
 - company - Company (parId)
 - guest - Guest (gueId)
 - ota - OTA (prpId)
+ id: 423 (number, required) - The unique identifier for item owner 

## ToPay
+ comIds: 4742, 4743, 4744 (array[number], required) - Array of commission to pay

## Attraction
+ attId: 322 (number, required) - The unique identifier for attraction
+ attractionTypes: 1, 2 (array[number], required)
+ isRecommended: true (boolean, required) - Show place in slider
+ name: SpaceX Launch and Landing Control Center (string, required) 
+ description: The SpaceX bid was for exclusive use of the launch complex to ... and control systems with substantial new plumbing for a variety of (string, required)
+ photo (Photo, optional)
+ address (AddressAttraction, required)
+ distance: 5.84 (number, optional) - The linear distance from attraction to hotel. (only if attraction has GPS provided) Unit: km

## AddressAttraction
+ street: Panska (string, optional)
+ streetNumber: 6 (string, optional)
+ city: Brno (string, optional)
+ zip: 60200 (string, optional)
+ couId: 1 (number, required) - The unique identifier for country
+ gps: 50°09'37.1"N 14°23'54.0"E (string, optional)

## Trip
+ httId: 3943 (number, required) -  The unique identifier for trip or tip
+ name: Trip to the lookout tower (string, required) - Name of trip
+ description: Directly above the village, like a wall from formidable sandstone rocks, Vranovský hřeben is raising Vranov ridge. On its top on the rocky ledge above the Jizera is the view point and the ruins of castle Vranov, which was rebuilt in the spirit of Romanticism as the Pantheon. (string, required) - Description of the trip
+ photos (array[Photo], required) - Array of trip photos
+ address (GPS, optional)
+ distance: 2.1 (number, optional) - The distance of the trip. Unit: km
+ externalUrl: https://mapy.cz/s/lafomegura (string, optional) - Link to any URL - restaurant menu, trip directions etc.

## GPS
+ gps: 50°09'37.1"N 14°23'54.0"E (string, optional)

## Service 
+ stoId: 31 (number, required) -  The unique identifier for service
+ isCheckbox: true (boolean, required) - Service is ordered by number or by checkbox
+ name: Breakfast in bed (string, required) - Title of service
+ description: The SpaceX bid was for exclusive use of the launch complex to ... and control systems with substantial new plumbing for a variety of (string, optional)
+ price: 345.23 (number, required) - Price of service
+ curId: 1 (number, required) - The unique identifier for currency
+ photo (Photo, optional)

## Meal 
+ meaId: 31 (number, required) -  The unique identifier for meal
+ name: Breakfest (string, required) - Name of meal
+ price: 345.23 (number, required) - Price of meal
+ curId: 1 (number, required) - The unique identifier for currency

## MealChange
+ comId: 582 (number, required) - The unique identifier for commission
+ meaId: 31 (number, required) - The unique identifier for meal

## NewReservationPrice
+ price: 4100 (number, required) - New price of reservation
+ curId: 1 (number, required) - The unique identifier for currency

## MinibarItem
+ pckId: 31 (number, required) -  The unique identifier for minibar item
+ name: Breakfast in bed (string, required) - Title of service
+ price: 345.23 (number, required) - Price of service
+ curId: 1 (number, required) - The unique identifier for currency

## ServiceOrder
+ pckId: 31 (number, required) -  The unique identifier for service
+ quantity: 1 (number, required) - Amount of purchased services
+ preferredDatetime: `2018-01-14T13:45:00` (string, optional) - Prefered datetime in ISO 8601
+ note: Note guest on the order (string, optional) - Guest`s not on the order

## PayUrl
+ url: https://booking.previo.cz/gate/request/51a8d26a289179e6aa193c0564fa525b/ (string, required) - Pay url for pay reservation or one commission

## ShortUrl
+ url: https://app.myalfred.cz/login/6S6WEA?intendUrl=reservation/check-in/guest/192125225?step=1&showDialog=scan

## ShortUrlResponse
+ shortenUrl: https://myalfred.app/link/8E3SD32

## CodeBook
+ commissionStatuses (array[CommisionStatus], required) - Array of commission status
+ attractionTypes (array[AttractionType], required) - Array of type of attractions
+ currencies (array[Currency], required) -  Array of currency
+ countries (array[Country], required) - Array of country
+ genders (array[Gender], required) - Array of gender
+ identityTypes (array[IdentityType], required) - Array of identity types
+ unit (Unit, required) - Custom Previo units
+ streetTypes (array[StreetType], required) - Array of Hungary street type
+ accountSegments (array[AccountSegment], required) - Array of account item segment

## CommisionStatus
+ cosId: 1 (number,required) - The unique identifier for commision status
+ name: Option (string, required) - Name of commission status

## AttractionType
+ atyId: 1 (number, required) - The unique identifier for attraction type
+ name: Nature (string, required) - Name of attraction type

## Currency
+ curId: 1 (number, required) - The unique identifier for currency
+ code: EUR (string, required) - Code of currency (ISO 4217)
+ symbol: € (string, required) - Symbol of currency
+ position: left (string, required) - Position of currency symbol

## Country
+ couId: 1 (number, required) - The unique identifier for country
+ name: Czech Republic (string, required) - Name of country
+ code: CZ (string, required) - Code of country
+ flag: https://admin.previo.cz/share/image/country/cz.svg (string, required) - URL to country flag
+ top: true (boolean, required) - Is country top

## Gender
+ genId: 1 (number, required) - The unique identifier for gender
+ name: Male (string, required) - Name of gender

## IdentityType
+ guiId: 1 (number, required) - The unique identifier for guest identity type
+ name: Identity card (string, required) - Name of guest identity type

## StreetType
+ id: 1 (number, required) - The unique identifier for street type
+ name: utca (string, required) - Name of street type

## AccountSegment
+ id: 1 (number, required) - The unique identifier for account item segment
+ name: Accommodation (string, required) - Name of segment

## Unit
+ services (array[ServiceUnit], required) - Array of service units (per room, per person, per item, per night, per person/nigt, per room/night)

## ServiceUnit
+ pcuId: 1 (number, required) - The unique identifier for service unit
+ text: /per. (string, required) - Text representation of unit
+ description: Price is per each person. (string, required) - Description of service unit

## Logo
+ url: `https://ihg.scene7.com/is/image/ihg/HI_logo_LVP_@2x` (string, required)
+ height: 95 (number, required) - In pixel
+ width: 335 (number, required) - In pixel

## Photo
+ url: `https://www.demilked.com/magazine/wp-content/uploads/2014/12/norway-landscape-photography-scandinavian-nature-4.jpg` (string, required)
+ height: 720 (number, required) - In pixel
+ width: 960 (number, required) - In pixel